.friendsItem {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 240px;
  padding: 10px;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.status.online {
  background-color: var(--green-color);
}

.status.offline {
  background-color: var(--red-color);
}

.avatar {
  object-fit: cover;
}

.name {
  font-weight: 600;
}
