.transactionHistory {
  width: 580px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 5px;
  border-collapse: collapse;
  border-style: hidden;
  box-shadow: var(--box-shadow);
}

.tableHead {
  height: 32px;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--light-blue-color);
}

.tableRow {
  height: 32px;
  font-size: 14px;
  text-align: center;
  text-transform: capitalize;
  color: var(--grey-color);
  background-color: var(--white-color);
}

.tableRow:nth-child(2n) {
  background-color: var(--secondary-bg-color);
}

th,
td {
  border: 1.5px solid var(--white-color);
}
